a:hover{font-weight:bold;}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20 px;
    background-color: grey;
    color: #FFF;  
    font-family: 'Courier New';
    text-decoration: none;
    font-size: 20px;
    text-align: left;
}
.links a{
    color: white;
}
.options{
    display: flex;
    gap: 1em;
    font-size: 30px;
}
.options li:hover{
    background-color: goldenrod;
    border-radius: 5px;
    transition: 0.3s ease;
}
.options li{
    padding: 10px 20px;
}

h1 {
    color:black;
    font-family: 'Courier New', "Times New Roman", sans-serif;
    font-size: 320%;
    text-align: center;
}
body {
    background-color: whitesmoke;
    font-weight: bold;
}
p {
    color: black;
    font-family: "Courier New", "Times New Roman", sans-serif;
    font-size: 150%;

}
.divRules {
    border: 5px outset grey;
    background-color: white;
    text-align: center;
    font-family: 'Courier New', "Times New Roman", sans-serif;
    font-size: 120%;
}
.divRules2 {
    border: 5px outset grey;
    background-color: white;
    text-align: left;
    font-family: 'Courier New', "Times New Roman", sans-serif;
    font-size: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.resumeStyling {
    display: flex;
    justify-content: center;
    align-items: center;
}
.resumeStyling iframe {
    display: block;
    width: 900px;
    height: 1200px;
}
.catStyling-container {
    display: flex;
    width: 1500px; 
}
.catStyling{
    max-width: 50%;
    margin: 100 100px; 
}
